# Analysing Data Using Pandas

## Series

In [ ]:
# importing pandas
import pandas as pd

In [ ]:
# Creating empty series
series = pd.Series()
series

In [ ]:
#importing numpy
import numpy as np

In [ ]:
# simple array
data = np.array(['h','e','l','l','o'])
 
ser = pd.Series(data)
print(ser)

## Dataframe

2D size-mutable table data structure with labelled axes.

Consists of rows, columns and data

### Creating Dataframe

In [ ]:
#import pandas

# Calling DataFrame constructor
df = pd.DataFrame()
print(df)

In [30]:
# list of strings
lst = ["Hello", "World", "This", "Is", "Pandas"]

# Calling DataFrame constructor on list
df = pd.DataFrame({"title" : lst})
df

    title
0   Hello
1   World
2    This
3      Is
4  Pandas

In [28]:
# read csv file
df = pd.read_csv("Iris_csv.csv")

# printing top 5 rows
df.head()

# NOTE: head() always prints top 5 rows

   sepallength  sepalwidth  petallength  petalwidth        class
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

In [25]:
# if you add a number into the function
# eg: head(4) you get top 4
df.head(4)

   sepallength  sepalwidth  petallength  petalwidth        class
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa

### Filetering Dataframe

In [29]:
# applying filter function
df.filter(["class", "sepallength"]).head()

         class  sepallength
0  Iris-setosa          5.1
1  Iris-setosa          4.9
2  Iris-setosa          4.7
3  Iris-setosa          4.6
4  Iris-setosa          5.0

### GroupBy

In [37]:
# read csv file
df = pd.read_csv("Iris_csv.csv")

print("Original DataFrame")
display(df)

# applying groupby() function to
# group the data on class value.
group = df.groupby("class")

# Let's print the first entries
# in all the groups formed.
print("After Creating Groups")
group.first()

Original DataFrame

     sepallength  sepalwidth  petallength  petalwidth           class
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

After Creating Groups

                 sepallength  sepalwidth  petallength  petalwidth
class
Iris-setosa              5.1         3.5          1.4         0.2
Iris-versicolor          7.0         3.2          4.7         1.4
Iris-virginica           6.3         3.3          6.0         2.5

In [38]:
# read csv file
df = pd.read_csv("Iris_csv.csv")

# applying filter to groupby
print("Filtering groups by class & sepallength")
group_filter = df.filter(["class", "sepallength"]).groupby("class")
group_filter.first()

Filtering groups by class & sepallength

                 sepallength
class
Iris-setosa              5.1
Iris-versicolor          7.0
Iris-virginica           6.3